@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Gothic+Condensed+One&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


button {

background-color: paleturquoise;
color: black;
border-radius: 10px;
border: none;
width: 10vw;
height: 5vh;
margin-left: 180px;
margin-top: 10px;
margin-bottom: 10px;
font-family: "Inter";


}

button:hover {

    height: 7vh;
    width: 15vw;

}

.cabecalho {

    background-color: #307351;
    width: 100vw;
    height: 20vh;

    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;


    font-size: 60px;
    font-family: "Inter";
    color: #A7E8BD;
    
    display: flex;
    justify-content: center;

}

h3{

color: #307351;
font-family: "Inter";
margin-bottom: 10px;
margin-top: 10px;
font-size: 25px;

}


h2 {

margin-top: 30px;
margin-bottom: 30px;

font-size: 60px;
font-family: "Inter";

color: #307351;


}

body {

    background-color: #A7E8BD;

}

p {

color: #307351;
font-family: "Inter";
font-size: 20px;
margin-left: 20px;

}